<configuration>
  <appender name="STDOUT_AKKA" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%X{akkaTimestamp} [%.-1level] [%logger] [%.15thread] [%X{akkaSource}] %msg%n</pattern>
    </encoder>
<!--    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
<!--      <evaluator>-->
<!--        <expression>-->
<!--          return logger == "akka.util.ManifestInfo" &amp;&amp; message.contains("Detected possible incompatible versions on the classpath");-->
<!--        </expression>-->
<!--      </evaluator>-->
<!--      <OnMismatch>NEUTRAL</OnMismatch>-->
<!--      <OnMatch>DENY</OnMatch>-->
<!--    </filter>-->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <expression>
          return logger == "akka.stream.impl.PhasedFusingActorMaterializer" &amp;&amp; message.contains("Fuzzing mode is enabled on this system");
        </expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
  </appender>

  <appender name="STDOUT_NONAKKA" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%.-1level] [%logger] [%.15thread] %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${log.level:-INFO}">
    <appender-ref ref="STDOUT_NONAKKA"/>
  </root>

  <logger name="akka" level="${log.akka:-inherited}" additivity="false">
    <appender-ref ref="STDOUT_AKKA"/>
  </logger>
</configuration>
