name: Build
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: shopstic/jdk11-sbt-fdb-server:1.3.12
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            /root/.cache/coursier
            /root/.sbt
          key: build-cache-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/*.scala') }}
      - name: Setup FDB cluster file and start FDB
        run: mkdir -p ~/.fdb && cp /etc/foundationdb/fdb.cluster ~/.fdb/cluster.file && service foundationdb start
      - name: Build
        env:
          FATAL_WARNINGS: "true"
        run: sbt clean compile test:compile cq test
      - name: Publish
        if: ${{ github.ref == 'refs/heads/master' && github.repository == 'shopstic/chopsticks' }}
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_PASS: ${{ secrets.BINTRAY_PASS }}
        run: sbt bintray:publish bintrayRelease
