name: Release

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Release version'
        required: true
      nextVersion:
        description: 'Next version'
        required: true

defaults:
  run:
    shell: nix develop -v -c bash {0}

jobs:
  build:
    name: Release ${{ github.event.inputs.releaseVersion }}
    runs-on: [self-hosted, nix, chopsticks]
    steps:
      - uses: actions/checkout@v2

      - name: Set environment variables
        run: |
          echo "PROTOC_CACHE=${XDG_CACHE_HOME}/protoc_cache" >> "${GITHUB_ENV}"
          echo "COURSIER_CACHE=${XDG_CACHE_HOME}/coursier" >> "${GITHUB_ENV}"
          echo "SBT_OPTS=-Dsbt.global.base=${XDG_CACHE_HOME}/sbt -Dsbt.ivy.home=${XDG_CACHE_HOME}/ivy -Xmx4g -Xss6m -XX:-UseContainerSupport" >> "${GITHUB_ENV}"

      - name: Set release version
        env:
          RELEASE_VERSION: ${{ github.event.inputs.releaseVersion }}
        run: |
          echo "ThisBuild / version := \"${RELEASE_VERSION}\"" > ./version.sbt

      - name: Publish
        env:
          PGP_SIGNING_KEY: ${{ secrets.PGP_SIGNING_KEY }}
          PGP_SIGNING_KEY_FP: ${{ secrets.PGP_SIGNING_KEY_FP }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: |
          printenv PGP_SIGNING_KEY | base64 -d | gpg --import
          ./release.sh publish

      - name: Tag and bump
        env:
          RELEASE_VERSION: ${{ github.event.inputs.releaseVersion }}
          NEXT_VERSION: ${{ github.event.inputs.nextVersion }}
        run: |
          git config --global user.email "ci-runner@shopstic.com"
          git config --global user.name "CI Runner"
          git tag "v${RELEASE_VERSION}"
          git push origin --tags
          
          echo "ThisBuild / version := \"${NEXT_VERSION}-SNAPSHOT\"" > ./version.sbt
          git commit -a -m "Bump version to ${NEXT_VERSION}-SNAPSHOT"
          git push origin master
